<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 "
    id="sidenav-main">
    <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
            aria-hidden="true" id="iconSidenav"></i>
        <div class="navbar-brand m-0">
            <img src="../img/logo-178x30.png" class="navbar-brand-img h-100" alt="main_logo"><br />
            <span class="ms-1 font-weight-bold">LawAPI Panel</span>
        </div>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">

            <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6 side-nav-separator">Pages</h6>
            <li class="nav-item">
                <a class="nav-link" href="/AboutUs">
                    <span class="nav-link-text ms-1">About us</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/">
                    <span class="nav-link-text ms-1">Home page</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Pages">
                    <span class="nav-link-text ms-1">Pages</span>
                </a>
            </li>


            <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6 side-nav-separator">Page elements
            </h6>
            <li class="nav-item">
                <a class="nav-link" href="/Banners">
                    <span class="nav-link-text ms-1">Banners</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ContactInfo">
                    <span class="nav-link-text ms-1">ContactInfo</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/InformationTab">
                    <span class="nav-link-text ms-1">InformationTab</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/KeyValue">
                    <span class="nav-link-text ms-1">Key-Value</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Menu">
                    <span class="nav-link-text ms-1">Menu</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Pictures">
                    <span class="nav-link-text ms-1">Pictures</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Roles">
                    <span class="nav-link-text ms-1">Roles</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Sliders">
                    <span class="nav-link-text ms-1">Sliders</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/SocialMedia">
                    <span class="nav-link-text ms-1">SocialMedia</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/TeamMember">
                    <span class="nav-link-text ms-1">TeamMember</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Testimonials">
                    <span class="nav-link-text ms-1">Testimonials</span>
                </a>
            </li>

            <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6 side-nav-separator">Settings
            </h6>
            <li class="nav-item">
                <a class="nav-link" href="/ChangePassword">
                    <span class="nav-link-text ms-1">ChangePassword</span>
                </a>
            </li>

        </ul>
    </div>
    <div class="sidenav-footer mx-3 ">

    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var n = document.getElementsByClassName('nav-link')
            for (let i = 0; i < n.length; i++) {
                if (n[i].href == location.href) {
                    n[i].classList.add('active')
                }
            }
        })
    </script>
</aside>